@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@namespace svg "http://www.w3.org/2000/svg";
/**
 * Total Reset
 * ==================================================
 * Universal reset of styles for all elements and pseudo-elements for customizing Web Components and browser extensions.
 */
/* Selector targets all elements except tables and svg elements */
*:where(:not(img, table, thead, tbody, tr, th, td, svg|*)) {
  /* Resets all styles for the selected elements */
  all: unset;
  /* Set box-sizing to border-box so padding and borders do not affect the total width and height of elements */
  box-sizing: border-box;
  /* Resets styles for ::before and ::after pseudo-elements */
}
*:where(:not(img, table, thead, tbody, tr, th, td, svg|*))::before, *:where(:not(img, table, thead, tbody, tr, th, td, svg|*))::after {
  /* Unsets all styles for pseudo-elements */
  all: unset;
  /* Set box-sizing to border-box for pseudo-elements */
  box-sizing: border-box;
}

a,
abbr,
acronym,
address,
article,
aside,
audio,
b,
big,
blockquote,
button,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  font-size: 100%;
}

article,
aside,
blockquote,
details,
div,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
main,
menu,
nav,
p,
pre,
section {
  display: block;
}

audio,
canvas,
video,
img,
picture,
svg {
  max-width: 100%;
  vertical-align: middle;
}

[hidden] {
  display: none;
}

head,
link,
meta,
script,
title,
template,
style {
  display: none;
}

a[href],
label[for],
select,
button {
  cursor: pointer;
}

/**
 * Table
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

table,
thead,
tbody,
tr,
th,
td {
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/**
 * Forms
 */
input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
}

input[type=color] {
  width: 15px;
  height: 15px;
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type=color]::-webkit-color-swatch {
  border: none;
}

input:required,
input {
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:focus {
  outline: none;
}

/**
 * Only apply smooth scrolling when the user hasn't set their motion preference to "reduce"
 */
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
* {
  font-family: "Roboto", serif;
  transition: all 0.2s ease-in-out;
  scroll-behavior: smooth;
}

.block {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.6s ease;
}

.block.visible {
  opacity: 1;
  transform: translateY(0);
}

:root {
  --color--dark: #1b1f2c;
  --color--red: #e4463c;
  --color--red--dark: #d63a2f;
  --color--red--pale: #d24a43;
  --color--red--pale--dark: #b13e38;
  --color--gray: #959595;
  --color--light--gray: #f1f3f5;
  --color--light: #2c3944;
  --boxshadow--soft: 0 11px 12.4px -12px rgba(0, 0, 0, 0.32);
  --boxshadow--soft--2: 0 10px 15px -12px rgba(0, 0, 0, 0.15);
  --shadow--outer: 0 11px 12.4px -12px rgba(0, 0, 0, 0.32),
    0 11px 12.4px -12px rgba(0, 0, 0, 0) inset;
  --shadow--inner: 0 11px 12.4px -12px rgba(0, 0, 0, 0),
    0 11px 12.4px -12px rgba(0, 0, 0, 0.32) inset;
}

.brug {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color--dark);
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color--light);
}

header {
  width: 100%;
  height: 123px;
  box-shadow: var(--boxshadow--soft--2);
}

main {
  flex: 1;
}

footer {
  background-color: var(--color--dark);
  width: 100%;
  height: 100%;
  padding: 50px 0 70px;
}

.container {
  max-width: 1220px;
  height: 100%;
  margin: 0 auto;
}

.header-1 {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 50px;
  height: 50px;
}
.header-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}
.header__contacts {
  background-color: var(--color--light);
}
.header__contacts__one {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: white;
  font-size: 14px;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  flex-basis: 50%;
}
.header__logo img {
  width: 160px;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 30px;
  flex-basis: 50%;
}
.header__menu a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  width: -moz-max-content;
  width: max-content;
}
.header__menu a:active {
  scale: 0.9;
}
.header__menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--color--red);
  transition: width 0.3s ease-in-out;
}
.header__menu a:hover::after {
  width: 100%;
}

.bg-gray {
  padding: 70px 0;
  width: 100%;
  height: 100%;
  background-color: var(--color--light--gray);
  box-shadow: 0px 14px 15px -15px rgba(27, 31, 44, 0.2) inset, 0px -14px 15px -15px rgba(27, 31, 44, 0.2) inset;
}

iframe {
  width: 100%;
  height: 100%;
  display: block;
}

.title__text {
  font-size: 24px;
  font-weight: 900;
}
.title__line {
  width: 145px;
  height: 3px;
  background-color: var(--color--red);
  margin: 5px 0 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0 0;
}

.card {
  border-radius: 8px;
  width: 393px;
  height: 243px;
  box-shadow: var(--boxshadow--soft);
  cursor: default;
  transition: scale 0.2s ease-in-out;
}
.card:hover {
  scale: 1.02;
}
.card__content {
  width: 100%;
  height: 100%;
  padding: 30px 0 30px 30px;
  background-color: rgba(27, 31, 44, 0.7098039216);
  color: white;
  border-radius: 8px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__content:hover {
  opacity: 1;
}
.card__content h3 {
  font-weight: 800;
  font-size: 28px;
}
.card__content p {
  font-weight: 300;
  font-size: 16px;
  margin: 10px 0 0;
}
.card__content a {
  width: 150px;
  padding: 10px 0px;
  margin: 47px 0 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color--red--pale);
  cursor: pointer;
}
.card__content a:hover {
  background-color: var(--color--red--pale--dark);
}
.card__content a:active {
  scale: 0.9;
}
.card__long {
  width: 600px;
}
.card-1 {
  background-image: url(../img/card-1.png);
}
.card-2 {
  background-image: url(../img/card-2.png);
}
.card-3 {
  background-image: url(../img/card-3.png);
}
.card-4 {
  background-image: url(../img/card-4.png);
}
.card-5 {
  background-image: url(../img/card-5.png);
}
.card-course-1 {
  background-image: url(../img/course-1.png);
}
.card-course-2 {
  background-image: url(../img/course-2.png);
}
.card-course-3 {
  background-image: url(../img/course-3.png);
}

.content-2 {
  justify-content: end;
  padding-bottom: 20px;
}
.content-2 a {
  margin-top: 14px;
}
.content-2 p {
  font-weight: 400;
  margin-top: 2px;
}

.m-t-20 {
  margin-top: 70px !important;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-b-60 {
  padding-bottom: 60px;
}

.p-b-100 {
  padding-bottom: 100px;
}

.p-b-180 {
  padding-bottom: 180px;
}

.p-t-240 {
  padding-top: 240px;
}

.p-info {
  color: var(--color--gray);
  font-size: 15px;
}
.p-info a {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.p-info a:hover {
  opacity: 0.75;
}

.left-right {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0;
}
.left-right p {
  width: 807px;
}
.left-right__links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.left-right__links img {
  box-shadow: var(--boxshadow--soft);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.075);
}
.left-right__links img:hover {
  scale: 1.028;
}

.adapt-map {
  display: none;
}

.right {
  font-size: 15px;
}
.right__rules {
  line-height: 20px;
  padding: 18px;
  background-color: var(--color--light--gray);
  border-radius: 8px;
  box-shadow: var(--boxshadow--soft);
}
.right__rules span {
  display: inline-block;
  margin: 8px 0 0 4px;
}
.right__rules__title {
  font-size: 17px;
  font-weight: 600;
}
.right__rules__text {
  margin-top: 10px !important;
}

.courses-index {
  width: 100%;
  height: 310px;
  background-color: white;
  border-radius: 8px;
  margin: 20px 0 0;
  box-shadow: var(--boxshadow--soft);
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.courses-index__btn {
  width: 100px;
  border-radius: 8px;
  padding: 8px 10px;
  background-color: var(--color--red--pale);
  margin: 30px 0 0;
  text-align: center;
  color: white;
}
.courses-index__btn:hover {
  background-color: var(--color--red--pale--dark);
}
.courses-index__btn:active {
  scale: 0.9;
}

.courses-tests {
  box-shadow: none;
  height: auto;
  padding: 0;
}

tr,
th,
td {
  text-align: start;
  min-width: 70px;
}

tr,
table {
  width: 100%;
}

td {
  font-size: 14px;
  padding: 15px 0;
  vertical-align: middle;
}

th,
td {
  padding-right: 40px;
}

th,
td {
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}

th {
  font-weight: 700;
  padding: 0 0 15px;
  border-bottom: 2px solid rgba(128, 128, 128, 0.25);
}

.line-gray {
  background-color: var(--color--gray);
  width: 100%;
  height: 2px;
}

.w-214 {
  width: 214px !important;
  padding-right: 100px;
}

.slider {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 1210px;
  position: relative;
  margin: auto;
  justify-content: space-between;
}
.slider:hover .slider__btn {
  opacity: 0.6;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 1500px;
  padding: 0 0 20px;
}

.slider__card {
  min-width: 300px;
  padding: 0 0 14px;
  text-align: center;
  box-shadow: var(--boxshadow--soft--2);
}
.slider__card p {
  color: var(--color--gray);
}

.slider__btn-prev,
.slider__btn-next {
  position: absolute;
  z-index: 10;
}

.slider__btn {
  width: 74px !important;
  height: 74px !important;
  border-radius: 50%;
  opacity: 0;
  background-color: rgb(245, 245, 245);
  color: var(--color--red) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color--dark);
  font-size: 40px;
  font-weight: 900;
  scale: 0.6;
  cursor: pointer;
  box-shadow: var(--boxshadow--soft);
}
.slider__btn:hover {
  scale: 0.78;
  opacity: 0.9;
}
.slider__btn:active {
  opacity: 0.95;
  scale: 0.65;
}
.slider__btn::after {
  color: var(--color--red--pale);
}
.slider__btn-prev {
  left: 0;
}
.slider__btn-next {
  right: 0;
}

.vertical {
  flex-direction: column;
}

.footer {
  color: white;
  display: flex;
  justify-content: space-between;
}
.footer__contact {
  display: flex;
  gap: 14px;
}
.footer__contact__img {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer__menu h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 15px;
}
.footer__menu a {
  font-size: 18px;
  text-decoration: none;
  position: relative;
  display: inline-block;
  width: -moz-max-content;
  width: max-content;
}
.footer__menu a:active {
  scale: 0.9;
}
.footer__menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--color--red);
  transition: width 0.3s ease-in-out;
}
.footer__menu a:hover::after {
  width: 100%;
}
.footer__menu__social {
  display: flex;
  gap: 20px;
}
.footer__menu__social a::after {
  content: none;
}
.footer__menu__social img:hover {
  scale: 1.12;
}
.footer__menu__social img:active {
  scale: 0.9;
  opacity: 0.5;
}

.line-red {
  width: 1220px;
  height: 2px;
  margin: 50px auto 30px;
  background: linear-gradient(90deg, rgb(221, 60, 48) 22%, rgba(221, 60, 48, 0) 100%);
}

.copyright {
  font-weight: 300;
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.copyright span {
  font-size: 24px;
  font-weight: 700;
}

.site-link::after {
  content: none;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 38px;
  width: 600px;
}
.contacts__img-text {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contacts__img-text__img {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts__img-text p {
  font-size: 17px;
}

.contacts-div {
  width: 600px;
}

.contacts-form__form {
  width: 393px;
  margin: 25px 0 0;
}
.contacts-form button {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: var(--color--red);
  box-shadow: var(--shadow--outer);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
}
.contacts-form button:hover {
  background-color: var(--color--red--dark);
  box-shadow: var(--shadow--inner);
}
.contacts-form button:active {
  scale: 0.95;
}

.w-label {
  display: flex;
  flex-direction: column;
}
.w-label label {
  padding: 0 0 3px 3px;
  font-weight: 400;
}
.w-label input,
.w-label textarea {
  font-size: 16px;
  font-weight: 300;
  padding: 10px 0 10px 10px;
  padding-left: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background-color: var(--color--light--gray);
  box-shadow: var(--shadow--outer);
  resize: none;
}
.w-label input:focus,
.w-label textarea:focus {
  box-shadow: var(--shadow--inner);
  border: 1px solid rgba(224, 40, 40, 0.05);
}
.w-label textarea {
  min-height: 120px;
  max-height: 120px;
  text-wrap: wrap;
}
.w-label textarea::-moz-placeholder, .w-label input::-moz-placeholder {
  color: var(--color--gray);
}
.w-label textarea::placeholder,
.w-label input::placeholder {
  color: var(--color--gray);
}

.w-label input {
  display: flex;
  align-items: center;
  justify-content: end;
}

.tick-green {
  align-self: flex-end;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 10px;
  font-weight: 900;
  margin: 35px 10px 0 0;
  padding: 0;
  width: 16px;
  height: 16px;
  background-color: #82c272;
  border-radius: 8px;
  box-shadow: var(--boxshadow--soft);
  display: none;
  align-items: center;
  justify-content: center;
}

.cross-red {
  align-self: flex-end;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 16px;
  font-weight: 900;
  margin: 35px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background-color: #da6c6c;
  border-radius: 8px;
  box-shadow: var(--boxshadow--soft);
  display: flex;
}

input::-ms-reveal {
  display: none;
}

.warnings {
  flex-direction: column;
  gap: 5px;
  margin: 10px 0 0;
}

.warning,
.cross-red,
.tick-green {
  display: none;
}

.dbl {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 0;
}

.dbl-input {
  display: flex;
  gap: 20px;
}
.dbl-input input {
  max-width: 187px;
}

.map-wrapper {
  width: 100;
  height: 684px;
  box-shadow: var(--boxshadow--soft);
  margin: 25px 0 0;
}

.mini {
  width: 100%;
  height: 1px;
}

.base-button {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  background-color: var(--color--red);
  box-shadow: var(--shadow--outer);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  margin: 34px 0 0;
  transition: all 0.2s ease-in-out;
}
.base-button:hover {
  background-color: var(--color--red--dark);
  box-shadow: var(--shadow--inner);
}
.base-button:active {
  scale: 0.95;
}

.m-t-2 {
  margin-top: 22px;
}

.form-under-text {
  width: 393px !important;
  color: var(--color--gray);
  margin: 14px 0 0;
  font-size: 14px;
}
.form-under-text a {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.form-under-text a:hover {
  opacity: 0.7;
}

.warning {
  color: var(--color--red);
  font-size: 12px;
}

.about-advantages {
  background-image: url(../img/about-img.png);
  width: 100%;
  height: 526px;
  margin: 30px 0 0;
  box-shadow: var(--boxshadow--soft);
  padding: 30px 0 0 40px;
  color: white;
}
.about-advantages__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-advantages__text h4 {
  font-size: 22px;
  font-weight: 700;
}
.about-advantages__text p {
  font-size: 16px;
  line-height: 24px;
  width: 487px;
}

.m-t-65 {
  margin-top: 65px;
}

.f-sz-12 {
  font-size: 12px;
}

.course-left {
  width: 703px;
}
.course-left__text span {
  font-weight: 700;
}
.course-right {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.course-right__line {
  width: 100%;
  height: 1px;
  background-color: var(--color--dark);
  opacity: 0.4;
}
.course-right__info {
  width: 393px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.course-right__info h3 {
  font-size: 20px;
  font-weight: 500;
}
.course-right__info p {
  font-weight: 300;
  margin: 3px 0 0;
}
.course-right__info p span {
  font-weight: 400;
}

.j-c-s-b {
  display: flex;
  justify-content: space-between;
}

.label-bold {
  font-weight: 700 !important;
}

.teachers {
  display: flex;
  justify-content: space-between;
}
.teachers__one {
  width: 219px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.teachers__one:hover {
  scale: 1.028;
}
.teachers__one img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 295px;
  min-height: 295px;
  border-radius: 10px;
  box-shadow: var(--boxshadow--soft);
}
.policy {
  max-width: 600px;
  font-size: 13px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--color--light--gray);
  box-shadow: var(--boxshadow--soft);
}
.policy span {
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
}

.login-imgs {
  width: 600px;
  height: 395px;
  display: flex;
  flex-direction: column;
}

.m-t-50 {
  margin-top: 40px;
}

.base-button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  box-shadow: none;
}

.burger-disabled {
  display: none;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
.base-button:disabled:active {
  animation: shake 0.15s ease-in-out;
  outline: none; /* Убираем обводку при клике */
  scale: 1;
}

.c-card {
  border-radius: 8px;
  width: 393px;
  height: 200px;
  box-shadow: var(--boxshadow--soft);
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: scale 0.2s ease-in-out;
}
.c-card:hover {
  scale: 1.025;
}
.c-card__content {
  width: 100%;
  height: 100%;
  padding: 22px 30px;
  color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.c-card__content h3 {
  font-weight: 800;
  font-size: 22px;
}
.c-card__content p {
  font-weight: 300;
  font-size: 18px;
  margin: 6px 0 0;
}
.c-card__content a {
  display: inline-block;
  vertical-align: bottom;
  display: flex;
  align-items: end;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
.c-card__content a:hover {
  letter-spacing: 3px;
}
.c-card__content__bottom {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.c-card__content__bottom p {
  font-size: 14px;
  font-weight: 200;
  text-align: end;
}
.c-card__content__bottom p span {
  font-weight: 500;
  font-size: 16px;
}
.c-card-test-1 {
  background: linear-gradient(90deg, rgb(106, 205, 92) 0%, rgb(202, 205, 92) 100%);
}
.c-card-test-2 {
  background: linear-gradient(270deg, rgb(205, 109, 92) 0%, rgb(202, 205, 92) 100%);
}
.c-card-test-3 {
  background: linear-gradient(90deg, rgb(205, 109, 92) 0%, rgb(92, 134, 205) 100%);
}
.c-card-test-4 {
  background: linear-gradient(90deg, rgb(205, 92, 150) 0%, rgb(149, 92, 205) 100%);
}
.c-card-test-5 {
  background: linear-gradient(90deg, rgb(149, 92, 205) 0%, rgb(92, 205, 169) 100%);
}

.completed-btn:hover,
.uncompleted-btn:hover {
  letter-spacing: 0px !important;
}

@keyframes unavailable {
  0% {
    filter: saturate(100%);
  }
  50% {
    filter: saturate(10%);
  }
  100% {
    filter: saturate(100%);
  }
}
.unavailable {
  animation: unavailable 4s infinite alternate;
}
.unavailable:hover {
  filter: none;
}
.unavailable a {
  cursor: default;
}

.completed a {
  cursor: default;
}

.long-card {
  width: 600px;
}

.w-120 {
  width: 180px;
}

.open-modal-btn {
  cursor: pointer;
}

.open-modal-btn:hover {
  transform: scale(1.05);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.modal {
  background-color: white;
  border-radius: 8px;
  padding: 24px 32px 32px;
  box-shadow: 0 11px 12.4px -5px rgba(0, 0, 0, 0.32);
  max-width: 800px;
  max-height: 700px;
  width: 100%;
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.4s ease-in-out;
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.modal__title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: var(--color--dark);
}
.modal::-webkit-scrollbar-thumb {
  background: var(--color--gray);
}
.modal::-webkit-scrollbar-thumb:hover {
  background: #727272;
}
.modal__line {
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(96, 96, 96, 0) 0%, rgb(96, 96, 96) 50%, rgba(96, 96, 96, 0) 100%);
}

.modal.open {
  transform: scale(1);
  opacity: 1;
}

.close-modal-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  color: var(--color--dark);
  cursor: pointer;
  transition: color 0.3s;
}
.close-modal-btn:hover {
  color: var(--color--red);
}

.modal-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.modal2 {
  background-color: white;
  border-radius: 8px;
  padding: 24px 32px 32px;
  box-shadow: 0 11px 12.4px -5px rgba(0, 0, 0, 0.32);
  max-width: 800px;
  max-height: 700px;
  width: 100%;
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.4s ease-in-out;
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.modal2__title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: var(--color--dark);
}
.modal2::-webkit-scrollbar-thumb {
  background: var(--color--gray);
}
.modal2::-webkit-scrollbar-thumb:hover {
  background: #727272;
}
.modal2__line {
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(96, 96, 96, 0) 0%, rgb(96, 96, 96) 50%, rgba(96, 96, 96, 0) 100%);
}

.modal2.open {
  transform: scale(1);
  opacity: 1;
}

.close-modal-btn2 {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  color: var(--color--dark);
  cursor: pointer;
  transition: color 0.3s;
}
.close-modal-btn2:hover {
  color: var(--color--red);
}

.modal-overlay3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.modal3 {
  background-color: white;
  border-radius: 8px;
  padding: 24px 32px 32px;
  box-shadow: 0 11px 12.4px -5px rgba(0, 0, 0, 0.32);
  max-width: 800px;
  max-height: 700px;
  width: 100%;
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.4s ease-in-out;
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.modal3__title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: var(--color--dark);
}
.modal3::-webkit-scrollbar-thumb {
  background: var(--color--gray);
}
.modal3::-webkit-scrollbar-thumb:hover {
  background: #727272;
}
.modal3__line {
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(96, 96, 96, 0) 0%, rgb(96, 96, 96) 50%, rgba(96, 96, 96, 0) 100%);
}

.modal3.open {
  transform: scale(1);
  opacity: 1;
}

.close-modal-btn3 {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  color: var(--color--dark);
  cursor: pointer;
  transition: color 0.3s;
}
.close-modal-btn3:hover {
  color: var(--color--red);
}

#test-container {
  display: none; /* Initially hidden */
  margin-top: 20px;
}

.question {
  margin-bottom: 15px;
}

.options label {
  display: block;
  margin-bottom: 5px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#timer {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}

/* Стилизация самой радио-кнопки */
input[type=radio] {
  width: 12px;
  height: 12px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; /* Убираем стандартное оформление */
  border: 1px solid var(--color--red);
  border-radius: 50%; /* Делаем её круглой */
  outline: none;
  cursor: pointer;
  position: relative;
}
input[type=radio]:checked {
  background-color: var(--color--red);
}
input[type=radio]:hover {
  border: 1px solid var(--color--red);
  cursor: pointer;
}

.options {
  margin: 10px 0 0 6px;
}
.question {
  margin: 30px 0 0;
  padding: 20px;
  box-shadow: var(--boxshadow--soft);
  background-color: var(--color--light--gray);
  border-radius: 8px;
}

#intro span {
  font-weight: 700;
}

#result {
  width: auto;
}

.levels-info {
  font-size: 16px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--color--light--gray);
  box-shadow: var(--boxshadow--soft);
}
.levels-info span {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

#result-container {
  display: none;
}

#timer {
  margin: 22px 0 0;
}

@keyframes shakeqwe {
  0%, 100% {
    transform: translateX(0);
  }
  8% {
    transform: translateX(-7px);
  }
  26% {
    transform: translateX(0px);
  }
}
.header__menu-2 {
  display: none;
}

.animate-slide {
  animation: shakeqwe 3.5s ease-in-out infinite;
}

.m-w-400 {
  width: 180px;
  padding-left: 0;
}

.m-t-3 {
  margin-top: 30px;
}

@media (max-width: 1440px) {
  .swiper-button-next {
    margin-right: 10px;
  }
  .swiper-button-prev {
    margin-left: 0px;
  }
}
@media (max-width: 1024px) {
  .swiper-button-next {
    margin-right: 10px;
  }
  .swiper-button-prev {
    margin-left: 0px;
  }
  .container {
    width: 984px;
  }
  .header__menu a {
    font-size: 14px;
  }
  .header__contacts p {
    font-size: 12px;
  }
  .header__logo p {
    display: none;
  }
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper-slide__text {
    width: 90% !important;
    display: flex;
    flex-direction: column;
  }
  .swiper-slide__text h1 {
    width: 76% !important;
    font-size: 40px !important;
  }
  .swiper-slide__text h3 {
    width: 76% !important;
    font-size: 26px !important;
  }
  .swiper-slide__text h5 {
    width: 76% !important;
    font-size: 18px !important;
  }
  .line-red {
    width: 984px;
  }
  .swiper-slide__text__btn-div {
    width: 76% !important;
  }
  .card {
    width: 31%;
    height: 205px;
  }
  .card__content {
    padding: 29px 0 29px 16px !important;
  }
  .card__content h3 {
    font-size: 20px;
  }
  .card__content p {
    font-size: 14px;
    flex: 1;
  }
  .card__content a {
    margin: 10px 0 0 !important;
  }
  .card__long {
    width: 48%;
  }
  .left-right p {
    font-size: 13px;
    width: 650px;
  }
  .left-right__links img {
    width: 300px;
  }
  td {
    padding: 11px 0;
  }
  .courses-index {
    height: auto;
  }
  .courses-index__btn {
    margin-top: 18px;
  }
  .slider {
    width: auto;
  }
  .slider__wrapper {
    width: 984px;
  }
  .slider__card {
    min-width: 150px;
  }
  .slider__card p {
    font-size: 12px;
  }
  .right {
    width: 55%;
  }
  .policy {
    width: auto !important;
  }
  .about-advantages__text h4 {
    font-size: 17px;
  }
  .about-advantages__text p {
    font-size: 14px;
  }
  .about-advantages {
    height: 400px;
    background-position: -150px 0;
  }
  .swiper-slide {
    width: 310px !important;
  }
  .swiper-slide p {
    font-size: 15px;
  }
  .right__rules {
    width: auto !important;
  }
  .c-card {
    width: 31%;
  }
  .c-card__content h3 {
    font-size: 16px;
  }
  .c-card__content p {
    font-size: 15px;
  }
  .long-card {
    width: 48.7%;
  }
  .course-left {
    width: 57%;
  }
  .teachers__one img {
    max-width: 170px;
    min-height: 207px;
    height: 207px;
  }
  .slide-adapt {
    width: 100% !important;
  }
}
@media (min-width: 320px) and (max-width: 430px) {
  .container {
    width: clamp(19.375rem, -0.625rem + 100vw, 26.25rem) !important;
  }
  header {
    height: auto;
  }
  .header-1 {
    gap: 2px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60px;
  }
  .header__contacts__one img {
    width: 9px;
  }
  .header__contacts__one p {
    font-size: 10px;
  }
  .header__logo {
    height: 75px;
  }
  .header__menu {
    display: none;
  }
  .header__menu-2 {
    width: 100%;
    height: 100vh;
    padding: 30px 0 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
    transition: all 0.3s ease;
  }
  .header__menu-2 a {
    font-size: 20px;
  }
  .header-2 {
    padding: 0 20px;
  }
  .header__menu-2.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    transition: all 0.3s ease;
  }
  .burg {
    width: 34px;
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .burg-1 {
    width: 100%;
    height: 4px;
    background-color: var(--color--dark);
    border-radius: 5px;
  }
  .burg-2 {
    width: 100%;
    height: 4px;
    background-color: var(--color--dark);
    border-radius: 5px;
  }
  .burg-3 {
    width: 100%;
    height: 4px;
    background-color: var(--color--dark);
    border-radius: 5px;
  }
  .header__menu-2.active {
    display: flex;
    position: fixed;
  }
  #burgerClse {
    width: auto;
    height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
  }
  .clsBrg-1 {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: var(--color--dark);
    transform: rotate(45deg);
    border-radius: 5px;
  }
  .clsBrg-2 {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: var(--color--dark);
    transform: rotate(-45deg);
    border-radius: 5px;
  }
  /* Добавляем эффект анимации для иконки бургера */
  .burg.open .burg-1 {
    transform: rotate(0deg) translate(5px, 5px);
  }
  .burg.open .burg-2 {
    opacity: 0;
  }
  .burg.open .burg-3 {
    transform: rotate(0deg) translate(5px, -5px);
  }
  .cards {
    gap: 7px;
    row-gap: 16px;
    justify-content: center;
  }
  .card {
    height: 190px;
    border-radius: 4px;
    width: 92%;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.24);
    background-size: cover;
  }
  .card__long {
    width: 92%;
  }
  .card__content {
    padding: 18px 15px !important;
    border-radius: 4px;
  }
  .card__content h3 {
    font-size: 20px;
  }
  .card__content p {
    font-size: 14px;
  }
  .card__content a {
    width: 130px;
    padding: 4px 0px;
    border-radius: 5px;
    font-size: 18px;
  }
  .title {
    margin-bottom: 20px;
  }
  .title__text {
    font-size: 26px;
    text-align: center;
  }
  .title__line {
    height: 2px;
    width: 120px;
    margin: 8px auto 0;
  }
  .left-right {
    flex-direction: column;
    margin: 10px 0 0;
  }
  .left-right p {
    width: 100%;
    font-size: 14px;
  }
  .left-right__links {
    margin: 12px 0 0;
  }
  .left-right__links img {
    border-radius: 4px;
    width: 80%;
    margin: 0 auto;
  }
  .swiper-slide__text__btn-div {
    margin-left: 10px !important;
  }
  .swiper-slide img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: -800px 0;
       object-position: -800px 0;
  }
  .swiper-slide__text h1 {
    width: 85% !important;
    font-size: clamp(1.563rem, 1.017rem + 2.73vw, 1.75rem) !important;
    margin-left: 18px !important;
    margin-top: 30px !important;
    margin-right: 0 !important;
  }
  .swiper-slide__text h3 {
    width: 85% !important;
    font-size: clamp(1.125rem, 0.761rem + 1.82vw, 1.25rem) !important;
    margin-left: 18px !important;
    margin-right: 0 !important;
  }
  .swiper-slide__text h5 {
    width: 85% !important;
    font-size: clamp(1rem, 0.273rem + 3.64vw, 1.25rem) !important;
    margin-top: 20px !important;
    margin-left: 18px !important;
    margin-right: 0 !important;
  }
  .swiper-button-next {
    right: 0 !important;
    margin: 0 !important;
  }
  .swiper-button-prev {
    left: 0 !important;
    margin: 0 !important;
  }
  .s-btn {
    display: none !important;
  }
  th,
  td {
    font-size: 11px !important;
    width: 50px !important;
    padding: clamp(0.125rem, -1.78rem + 9.52vw, 0.75rem) !important;
  }
  .w-214 {
    padding: 0 !important;
  }
  .courses-index {
    padding: 10px 6px !important;
  }
  .courses-index__btn {
    font-size: 15px;
    padding: 6px 3px !important;
    border-radius: 4px;
  }
  .slider__card {
    width: clamp(9.375rem, 0.284rem + 45.45vw, 12.5rem) !important;
  }
  .slider__card p {
    font-size: 14px;
  }
  .slider__card img {
    width: 130px;
  }
  .slider__btn {
    display: none;
  }
  footer {
    height: auto;
  }
  .footer {
    flex-direction: column;
    gap: 50px;
  }
  .footer__menu {
    align-items: center;
  }
  .footer__menu h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px;
  }
  .footer__menu a {
    font-size: 15px;
    font-weight: 300;
  }
  .footer__contact {
    gap: 8px;
  }
  .footer__contact p {
    font-size: 15px;
    font-weight: 200;
  }
  .footer__contact__img img {
    width: 15px;
  }
  .slider__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
  }
  .footer__menu {
    gap: 7px;
  }
  .line-red {
    width: 300px;
  }
  .footer__menu__social {
    gap: 18px;
  }
  .footer__menu__social a img {
    width: 30px;
  }
  .site-link {
    margin: 12px 0 0;
  }
  .site-link img {
    width: 120px;
  }
  .copyright {
    display: flex;
    align-items: center;
    text-align: center;
  }
  .levels-info {
    font-size: 13px;
  }
  .levels-info span {
    font-size: 18px;
  }
  .j-c-s-b {
    flex-direction: column;
  }
  .course-left {
    width: 94%;
    margin: 0 auto;
  }
  .course-left table {
    table-layout: fixed;
  }
  .course-left table tbody tr th {
    word-wrap: break-word;
  }
  .m-t-20 {
    margin-top: 31px !important;
  }
  .teachers__one {
    width: 47%;
  }
  .teachers__one img {
    width: 100%;
  }
  .teachers {
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .w-label {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
  }
  .base-button {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
  }
  .course-right__info {
    width: 94%;
    margin-left: auto;
    margin-right: auto;
  }
  .course-right__info h3 {
    width: 100%;
  }
  .course-right__info p {
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
  }
  .m-t-34 {
    margin-top: 28px;
  }
  .about-advantages {
    padding-left: 20px;
    margin: 20px 0 0 !important;
  }
  .about-advantages__text {
    width: 95%;
  }
  .about-advantages__text p {
    width: 95%;
    font-size: 12px;
    font-weight: 200;
  }
  .m-t-65 {
    margin: 20px 0 0;
  }
  .text-adapt {
    font-size: 12px;
  }
  .right {
    width: 100%;
  }
  .right__rules {
    margin: 15px auto;
    width: 98% !important;
    font-size: 9px;
  }
  .form-under-text {
    width: 94% !important;
    font-size: 11px !important;
  }
  .tblAdpt {
    width: 310px !important;
  }
  .contacts-form__form {
    width: 100%;
  }
  tr {
    width: 300px !important;
  }
  th,
  td {
    min-width: 40px !important;
    max-width: 40px !important;
    word-wrap: break-word;
  }
  .dbl-input {
    width: 100%;
    padding-left: 9.3px;
    padding-right: 9.3px;
  }
  .dbl-input input {
    width: 100%;
  }
  .swiper-slide {
    width: clamp(19.375rem, -0.625rem + 100vw, 26.25rem) !important;
  }
  .swiper-slide img {
    width: clamp(19.375rem, -0.625rem + 100vw, 26.25rem) !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
    -o-object-position: 0px 0;
       object-position: 0px 0;
    margin: 0 !important;
  }
  .dbl {
    flex-direction: column;
  }
  .contacts {
    width: 96%;
  }
  .contacts-div {
    width: 96%;
    margin-top: 34px;
  }
  input::-moz-placeholder {
    font-size: 12px;
  }
  input::placeholder {
    font-size: 12px;
  }
  textarea::-moz-placeholder {
    font-size: 13px;
  }
  textarea::placeholder {
    font-size: 13px;
  }
  .contacts__img-text p {
    font-size: 14px;
  }
  .map-wrapper {
    display: none;
  }
  .adapt-map {
    display: block;
  }
  .slide-adapt {
    width: clamp(20rem, 100vw, 26.875rem) !important;
  }
  .slide-adapt img {
    width: clamp(20rem, 100vw, 26.875rem) !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
    -o-object-position: -1000px 0 !important;
       object-position: -1000px 0 !important;
    filter: brightness(60%);
  }
  .form-under-text {
    margin-left: auto;
    margin-right: auto;
  }
  .c-card {
    height: 170px;
  }
  .c-card__content {
    padding: 8px;
  }
  .c-card__content h3 {
    height: 42px;
    font-size: 12px;
    font-weight: 700;
    word-wrap: break-word !important;
    text-wrap: wrap !important;
  }
  .c-card__content p {
    font-size: 12px;
  }
  .c-card__content__bottom {
    flex-direction: column;
    align-items: start;
  }
  .c-card__content__bottom a {
    font-size: 12px;
  }
  .c-card__content__bottom p {
    font-size: 12px;
    text-align: start;
  }
  .c-card__content__bottom p span {
    font-size: 12px;
  }
  .modal {
    width: 98%;
    padding: 10px;
  }
  .modal__title {
    font-size: 15px;
  }
  .modal .title__text {
    font-size: 16px;
  }
  .levels-info {
    width: 100%;
  }
  #intro h2 {
    font-size: 13px;
  }
  #intro {
    font-size: 13px;
  }
  .question p {
    font-size: 14px;
  }
  .options label {
    font-size: 14px;
  }
  .left-right__links {
    align-items: center;
  }
  .left-right__links a {
    width: clamp(15.625rem, -0.375rem + 80vw, 20.875rem);
  }
  .left-right__links a img {
    width: clamp(15.625rem, -0.375rem + 80vw, 20.875rem);
  }
}/*# sourceMappingURL=style.css.map */